<div class="relative bg-background">
    <div class="mx-auto px-5">
      <div class="flex items-center justify-between py-3.5 md:justify-start">
        <!-- Logo -->
         LocAdmin toujours un  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon> sur vos biens
        <div class="flex items-center justify-start sm:order-2 md:mr-10 lg:hidden">
          <a class="flex items-center justify-center rounded bg-primary p-2 focus:outline-none focus:ring-1">
            <!--<svg-icon src="assets/icons/logo.svg"></svg-icon>-->
          </a>
          <b class="hidden pl-3 text-sm font-bold text-foreground sm:block"> Angular Tailwind </b>
        </div>
        <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0">
          <app-date-range-picker></app-date-range-picker>
        </div>
  
        <!-- Desktop Menu -->
        <!--<div class="hidden space-x-10 sm:order-3 md:flex">
          <app-navbar-menu></app-navbar-menu>
        </div>-->
  
        <!-- Profile menu -->
        <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0">
          <app-profile-menu></app-profile-menu>
        </div>
      </div>
    </div>
  </div>
  