<h2 mat-dialog-title>Mettez à jour cette reference:</h2>
<mat-dialog-content>
    <p>Title</p>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title" />
    </mat-form-field>
  <p>description</p>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="realEstate()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
